{% extends 'customers/base.html' %}
{% block content %}
{% load url from future%}
{{customer}}
<p><a href="/accounts/logout/">Logout</a></p>

{% if customer.address.id %}
	<p><a href="{% url 'edit-address-customer' customer.address.id %}">Edit address</a></p>
{% else%}
	<p><a href="{% url 'add-address-customer'%}">Add address</a></p>
{% endif%}

{% if customer.card.id %}
	<p><a href="{% url 'edit-card-customer' customer.card.id %}">Edit Card</a></p>
{% else%}
	<p><a href="{% url 'add-card-customer'%}">Add Card</a></p>
{% endif%}

{% endblock %}