{% extends "orders/base.html" %}
{% load url from future%}
{% block main %}

<div data-role="page" class="studio customer queue list">
	
	<article data-role="content">
		
		<section id="appointments">
			<h1>{{request.user.get_full_name}}</h1>
			<ul>
				{% for order in order_list%}
				<li>
				{% with customer=order.customer%}
					<label for="{{order.id}}">{{customer.user.get_full_name}}</label>
					{% if order.status == 'booked' %}
					<a href="{% url 'order-status-cahnge' pk=order.pk %}?status=canceled" class="ui-btn cancel">Cancel</a>
					<a href="{% url 'artist-order-confirm' pk=order.pk %}" class="confirm ui-btn">Continue</a> 
					{% elif order.status == 'confirmed'%}
					<a href="{% url 'artist-order-time' pk=order.pk %}" class="Time ui-btn">Time</a> 
					{% elif order.status == 'completed'%}
					<a class="ui-btn cancel" style="font-weight: bold">Complete</a>
					{%endif%}
				{%endwith%}
				</li>
				{%endfor%}
				

			</ul>
		</section>
	</article>
	
</div>

<script>

</script>

{% endblock %}
