{% extends "orders/base.html" %}
{% load url from future%}
{% block main %}

<div data-role="page" class="studio customer queue">
	
	<article data-role="content">
		
		<section id="appointments">
			<h1>{{request.user.get_full_name}}</h1>
			<ul>
				{% for order in order_list%}
				<li>
				{% with customer=order.customer%}
					<label for="{{order.id}}">{{customer.user.get_full_name}}</label>
					{% if order.status == 'pending' %}
					<a href="{% url 'artist-order-confirm' pk=order.pk %}" class="confirm">Continue</a> 
					<a href="{% url 'order-status-cahnge' pk=order.pk %}?status=canceled" class="cancel">Cancel</a>
					{% else %}
					<a href="{% url 'artist-order-time' pk=order.pk %}" class="Time">Time</a> 
					{%endif%}
				{%endwith%}
				{%endfor%}
				</li>

			</ul>
		</section>
	</article>
	
</div>

<script>

</script>

{% endblock %}
