{% extends 'orders/base.html' %}
{% load url from future%}
{% block main%}
<div data-role="page" class="studio queue">
	<article data-role="content">
		
		<div id="logo">
			<a href="/main/home" rel="external"><img src="{{ STATIC_URL }}layout/images/logo-full-large.png" alt="Raw Ink" /></a>
			
		</div>
		
		<section id="appointments">
			<table>
				{% for order in order_list %}
				<tr>
					<td>
						{% with customer=order.customer%}
						<div class="name">{{customer.user.get_full_name}}</div>
						<div class="email">e. {{customer.user.email}}</div>
						<div class="phone">p. {{customer.phone}}</div>
						<br />
						<div class="address">
							{{customer.address.street}}<br />
							{{customer.address.city}}, {{customer.address.state}}, {{customer.address.zip}}
						</div>
						{% endwith%}
					</td>
					<td>
						<div class="reference">Reference #{{order.token}}</div>
						<br />
						<div class="status">Status: <span class="complete">{{order.status}}</span></div>
						{% if order.status == "pending" %}
						<div class="actions">
							<a href="{% url 'order-status-cahnge' pk=order.pk %}?status=confirm" class="confirm">Confirm</a> 
							<a href="{% url 'order-status-cahnge' pk=order.pk %}?status=canceled" class="cancel">Cancel</a>
						</div>
						{% elif order.status == 'confirmed' %}
						<div class="actions">
							<a href="{% url 'order-status-cahnge' pk=order.pk %}?status=in-progress" class="confirm">In-progress</a> 
							<a href="{% url 'order-status-cahnge' pk=order.pk %}?status=canceled" class="cancel">Cancel</a>
						</div>
						{% elif order.status == 'in-progress' %}
						<div class="actions">
							<a href="{% url 'order-status-cahnge' pk=order.pk %}?status=completed" class="completed">Completed</a>
						</div>
						{% endif %}
						<div class="cost">Price: {{order.get_billable_price}} {% if order.payment_price%} | {{order.payment_price}}{% endif%}</div>
					</td>
					<td class="submit">
						{% if order.status == "completed"%}
						<form action="{% url 'order-bill' pk=order.pk %}" method="post" accept-charset="utf-8">
							<input type="text" name="payment_price" value="{{order.get_billable_price}}" id="">
							<input type="hidden" name="status" value="payment-complete" id="">
							<p><input type="submit" value="Continue &rarr;"></p>
						</form>
						<div class="alert">Bill Customer !!</div>
						{% endif%}
					</td>
				</tr>
				{% endfor%}
			</table>
			{% if is_paginated %}
			        <div class="pagination">
			            <span class="page-links">
			                {% if page_obj.has_previous %}
			                    <a href="{% url 'order-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
			                {% endif %}
			                <span class="page-current">
			                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			                </span>
			                {% if page_obj.has_next %}
			                    <a href="{% url 'order-list' %}?page={{ page_obj.next_page_number }}">next</a>
			                {% endif %}
			            </span>
			        </div>
			{% else %}
			    <h3>My Cars</h3>
			    <p>No cars found!!! :(</p>
			{% endif %}
			<a href="#" class="date">Jump to Date</a>
			<form id="search">
				<input type="search" name="s" />
				<button type="submit">Search</button>
			</form>
		</section>
	</article>
	
</div>

{% endblock%}