<footer>
	<div class="wrapper">
		<nav>
			<ul>
				<li><a href="#">Amenities</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Floor Plans</a></li>
				<li><a href="#">Green Living</a></li>
				<li><a href="#">Transportation</a></li>
				<li><a href="#">Neighborhood</a></li>
				<li><a href="#">Community</a></li>
			</ul>
		</nav>
		
		<address itemscope itemtype="http://schema.org/Organization">
			<div itemprop="name"><a href="http://www.erkiletian.com">Erkiletian</a></div>
			<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				<div itemprop="streetAddress">2800 Eisenhower Ave, Suite 450</div>
				<span itemprop="addressLocality">Alexandria</span>, <span itemprop="addressRegion">VA</span> <span itemprop="postalCode">22314</span>
				<div><a itemprop="url" href="http://www.erkiletian.com">www.erkiletian.com</a></div>
				<div itemprop="telephone">703.671.4400</div>
			</div>		
		</address>
		
		<a href="#" class="managed">Managed by: Jefferson Apartment Group</a>
		<div>&copy; 2012 Erkiletian</div>

	</div>
</footer>