<header>
	<nav class="super">
		<ul>
			<li><a href="#">Lease Now</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Management</a></li>
			<li><a href="#">FAQs</a></li>
			<li><a href="#">Resident Login</a></li>
		</ul>
	</nav>
	<nav class="main">
		<ul>
			<li class="logo"><a href="#"><img src="{{ STATIC_URL }}layout/images/logo.png" /></a></li>
			<li><a href="#">Amenities</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">Features</a></li>
			<li><a href="#">Floor Plans</a></li>
			<li><a href="#">Green Living</a></li>
			<li><a href="#">Transportaion</a></li>
			<li><a href="#">Neighborhood</a></li>
		</ul>
	</nav>
</header>