<!-- <img src="{{ STATIC_URL }}layout/images/empty.png" class="changeme" style="width:960px;height:430px !important" alt="" /> -->
<section class="slideshow">
	<div>
		<div class="content">
			<em>Old Town&rsquo;s</em> <i>New Leaf.</i></em>
			<p>Presenting The Asher, brand new apartments in Old Town Alexandria, Virginia. Where the historic charm of tree-lined streets encounters the eclectic style of today&rsquo;s finest apartment living. Where the classic comfort of an urban refuge meets the contemporary convenience of easy access to shopping and dining, to culture and leisure, to a great neighborhood and the greater DC area. We&rsquo;re taking outdoor living to the next level&mdash;four levels to be exact&mdash;with four inspiring outdoor spaces with views of the nation&rsquo;s capital. Along with outstanding indoor amenities to spark a sense of community. All just one block from the Braddock Road Metro, in a LEED&reg; certified, non-smoking residence where green living comes naturally.</p>
			<strong>Life takes a turn for the better at The Asher.</strong>
		</div>
		<ul>
			<li class="previous">
				<figure>
					<img src="http://fpo.hzdesign.com/710x430/000/fff" width="710" height="430" />
					<figcaption>Callout / Caption / Title</figcaption>
				</figure>
			</li>
			<li class="active">
				<figure>
					<img src="http://fpo.hzdesign.com/710x430/000/fff" width="710" height="430" />
					<figcaption>Callout / Caption / Title</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="http://fpo.hzdesign.com/710x430/000/fff" width="710" height="430" />
					<figcaption>Callout / Caption / Title</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="http://fpo.hzdesign.com/710x430/000/fff" width="710" height="430" />
					<figcaption>Callout / Caption / Title</figcaption>
				</figure>
			</li>
		</ul>

<!--
		<ul>
			<li class="previous">
				<figure>
					<img src="http://fpo.hzdesign.com/960x430/000/fff" width="960" height="430" />
					<figcaption>Callout / Caption / Title</figcaption>
				</figure>
			</li>
			<li class="active">
				<figure>
					<img src="http://fpo.hzdesign.com/960x430/000/fff" width="960" height="430" />
					<figcaption>Callout / Caption / Title</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="http://fpo.hzdesign.com/960x430/000/fff" width="960" height="430" />
					<figcaption>Callout / Caption / Title</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="http://fpo.hzdesign.com/960x430/000/fff" width="960" height="430" />
					<figcaption>Callout / Caption / Title</figcaption>
				</figure>
			</li>
		</ul>
-->
	</div>
</section>