{% extends "main/base.html" %}

{% block main %}

<div data-role="page" class="user">

	<article data-role="content">

		<header class="done">
			<a href="#" class="done">
				<img src="{{ STATIC_URL }}layout/images/ryan-klein.jpg" />
				<span></span>
			</a>
		</header>

<!-- 		<header class="edit-work done">
			<a href="#" class="done">
				<img src="{{ STATIC_URL }}layout/images/full/015.jpg" />
				<span></span>
			</a>
		</header> -->

		<form>

			<div id="logo">
				<img src="{{ STATIC_URL }}layout/images/logo-full-large.png" alt="Raw Ink" />
			</div>

			<div id="intro" class="content">
				<p>Your all set. Please hand the front desk attendant this iPad so he can confirm your tattoo reservation.</p>
				<br />
				<br />
				<br />
				<center><strong>ref: #017801</strong></center>
			</div>

		</form>

	</article>

</div>

<script>

</script>

{% endblock %}
