{% extends "main/base.html" %}

{% block main %}

<div data-role="page" class="work">

	<article data-role="content">

		<header>
			<a href="/main/home" data-direction="reverse" title="choose artist">
				<img src="{{ STATIC_URL }}layout/images/ryan-klein.jpg" />
				<i class="status"></i>
				<span></span>
			</a>
		</header>

		<div class="message">
			<p>Please select a tattoo or piercing &ldquo;style&rdquo; that represents what you have in mind. Exact placement, size, etc will be discussed between you and the artist.</p>
			<a href="#" class="btn">Got It!</a>
		</div>
		<span class="overlay"></span>


		<ul>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/001.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/002.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/003.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/004.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/005.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/006.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/007.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/008.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/009.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

			<li>
				<figure>
					<a href="/main/user">
						<img data-parent="article li" data-target="#first-artist" data-toggle="collapse" src="{{ STATIC_URL }}layout/images/full/010.jpg" />
						<figcaption>
							<span>Large torso tattoo in black and white</span>
						</figcaption>
					</a>
				</figure>
			</li>

		</ul>

		<a rel="external" class="pagination noeffect" id="prev"></a>
		<a rel="external" class="pagination noeffect" id="next"></a>
	</article>

</div>

<script>

</script>

{% endblock %}
