{% extends 'artists/base.html' %}
{% load url from future%}
{% block main%}
<div data-role="page" class="artists">
	
	<article data-role="content">
	
	<div id="logo">
		<a href="/main/home" rel="external"><img src="{{ STATIC_URL }}layout/images/logo-full-large.png" alt="Raw Ink" /></a>
		
		<p>Select your preferred artist or piercer below</p>
	</div>
	<ul>
		{% for artist in object_list %}
		<li>
			<figure data-target="#{{artist.slug}}">
				<span class="open"></span>
				<span class="close"></span>
				<span class="status"></span>
				<img src="{{artist.photo.url}}" />
			</figure>
			<section id="first-artist">
				<header>
					<h1>{{artist}}</h1>
					<h2>{{artist.title}}</h2>
					<a href="{{artist.get_absolute_url}}">Continue</a>
					<a href="{{artist.get_absolute_url}}">View Portfolio</a>
					<a class="release" href="{{artist.get_absolute_url}}">Fill Out Release</a>
					{% with works=artist.artistworkphoto_set.all%}
					{% for work in works%}

					{% endfor%}
					{% endwith%}
				</header>
				<p>{{artist.bio}}</p>
			</section>
		</li>
		
		{%endfor%}	
	</ul>
	
	{% if request.user.is_authenticated %}
	<a rel="external" href="{% url 'logout' %}?next=/">Logout</a>
	
	{% else %}
<!-- 		<a href="accounts/login/?next=/customer/">Customer Log In</a>&nbsp;&nbsp; | &nbsp;&nbsp; -->
		<a href="accounts/login/?next=/order/">Studio Log In</a>&nbsp;&nbsp; | &nbsp;&nbsp;
		<a href="accounts/login/?next=/order/artist/">Artist Log In</a>&nbsp;&nbsp; | &nbsp;&nbsp;
		<a rel="external" href="http://www.rawinkstudio.com/">www.RawInkStudio.com</a>
	{% endif %}
	
	</article>
</div>	

{% endblock%}