{% extends "main/base.html" %}

{% block main %}

<div data-role="page" class="studio customer queue">
	
	<article data-role="content">
		
		<section id="appointments">
			<h1>Bobby Weschler</h1>
			
			<br />
			
			<section id="close">
				Your appointment has been completed. Please accompany the customer to the front desk to verify billing.
			</section>
			
			<br />
				
			<div class="submit">
				<button type="submit">Finished</button>
			</div>
			
				
		</section>
	</article>
	
</div>

<script>

</script>

{% endblock %}
