{% extends "main/base.html" %}

{% block main %}

<div data-role="page" class="studio customer queue">
	
	<article data-role="content">
		
		<section id="appointments">
			<h1>Bobby Weschler</h1>
			
			
			<form action="cost">
				
				<label class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-checkbox-off ui-btn-up-c">Antoine Butler</label>
				
				<img src="{{ STATIC_URL }}layout/images/full/chest-example.jpg" />
				
				<div class="submit">
					<button type="submit">Confirm</button>
				</div>
			
			</form>
			
				
		</section>
	</article>
	
</div>

<script>

</script>

{% endblock %}
