{% extends "main/base.html" %}

{% block main %}

<div data-role="page" class="studio customer queue">
	
	<article data-role="content">
		
		<section id="appointments">
			<h1>Bobby Weschler</h1>
			
			
			<form action="confirm">
				
				<label class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-checkbox-on ui-btn-up-c">Antoine Butler: Half Sleeve &amp; Che...</label>
				
				<br />
				
				<table>
					<tr>
						<td>Started</td>
						<td>1:00 PM</td>
					</tr>
					<tr>
						<td>Stopped</td>
						<td>2:30 PM</td>
					</tr>
					<tr>
						<td>Started</td>
						<td>3:30 PM</td>
					</tr>
					<tr>
						<td>Stopped</td>
						<td>7:30 PM</td>
					</tr>
					<tfoot>
						<tr>
							<td>Total</td>
							<td>5.5 Hours</td>
						</tr>
					</tfoot>
				</table>
				
				<br />
				
				<div class="start">
					<button class="start">Start</button>
				</div>
				
				<div class="stop">
					<button class="stop">Stop</button>
				</div>
				
				<br />
				
				<label class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-checkbox-on ui-btn-up-c">$660</label>
				
				<div class="submit">
					<button type="submit">Completed</button>
				</div>
			
			</form>
			
				
		</section>
	</article>
	
</div>

<script>

</script>

{% endblock %}
